<h3>Match THIS!</h3>
<hr/>

<div class="container">
  <div class="row">
    <div class="col s2 card y"></div>
    <div class="col s2 card r"></div>
    <div class="col s2 card pu"></div>
    <div class="col s2 card b"></div>
  </div>

  <div class="row">
    <div class="col s2 card o"></div>
    <div class="col s2 card pu"></div>
    <div class="col s2 card y"></div>
    <div class="col s2 card o"></div>
  </div>

  <div class="row">
    <div class="col s2 card p"></div>
    <div class="col s2 card r"></div>
    <div class="col s2 card p"></div>
    <div class="col s2 card b"></div>
  </div>
</div>
